<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Sistema Brasileirão</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Sistema Brasileirão</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Togglenavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="campeonato.html">Campeonatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="cidade.html">Cidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="ocupacao.html">Ocupações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="partida.html">Partidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="pessoa.html">Pessoas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="time.html">Times de Futebol</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="uniforme.html">Tipos de Uniformes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="avaliacao.html">Avalie-nos</a>
                </li>
                
            </ul>
        </div>
    </nav>
<div class="container mt-5">
<button class="btn btn-warning mt-5" onclick="window.location.href='/admin/'">Django Admin</button>
    <h1 class="text-center">Tipos de Uniformes</h1>
    
    <table class="table table-info">
        <thead>
            <tr>
                <th>Time</th>
                <th>Tipo Uniforme</th>
        
            </tr>
        </thead>
        <tbody>
        {% for uniformes in uniformes %}
            <tr>
                <td>{{ uniformes.time}}</td>
                <td>{{ uniformes.tipouni}}</td>     
            </tr>
        {% endfor %}

        </tbody>
    </table>
   
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>